---
pipelines:
  branches:
    master:
      - step:
          name: render
          image: pandoc/alpine
          trigger: automatic
          script:
            - apk update && apk upgrade && apk add make curl
            - export TARGET=README.html
            - make -B "${TARGET}"
            - curl -X POST --user "${BB_AUTH_STRING}" "https://api.bitbucket.org/2.0/repositories/${BITBUCKET_REPO_OWNER}/${BITBUCKET_REPO_SLUG}/downloads" --form files=@"${TARGET}"
